@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-image: url('icons/cloud.png'); /* Adjust path based on image location */
    background-size: cover;
    background-position: center;
    height: 160vh;
    width: 98.9vw;
  }